<div class="card mb-3" >
    <div class="imgContainer">
      <img  [src]="article.imageUrl | defaultImageArticle" alt="{{article.name}}" class="img-fluid ">
      <div class="">
        <div class="info-body">
          <h2 class="card-title">{{ article.name | uppercase }}</h2>
          <p class="card-text" [ngClass]= "{ 'price-onSale': !article.isOnSale}">Precio: {{ article.price | priceArticleFormat }}</p>
          <p  class="card-text" *ngIf="article.isOnSale">Unidades: {{ article.quantityInCart }}</p>
          <input *ngIf="article.isOnSale" type="number" [(ngModel)]="article.quantityInCart" min="0" (change)="quantityChange(article.quantityInCart)" />
          <div *ngIf="article.isOnSale" class="rowBtns">
            <button  type="button" class="btn btn-primary" (click)="removeArticleUnit(article.quantityInCart)" [disabled]="article.quantityInCart === 0"><i class="bi bi-dash-lg"></i></button>
            <button type="button" class="btn btn-primary" (click)="addArticleUnit(article.quantityInCart)"><i class="bi bi-plus"></i></button>
          </div>
          <div *ngIf="!article.isOnSale" class="rowBtns">
            <p>Articulo no disponible</p>
          </div>
        </div>
      </div>
    </div>

</div>
